# Node / Expo
node_modules/
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
npm-debug.*
yarn-debug.*
yarn-error.*

# Python
venv/
/venv/
**/venv/*
__pycache__/
*.pyc

# Environment
.env
.env.*

# OS
.DS_Store
